@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@500&family=Roboto&family=Roboto+Mono&display=swap');

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #0a192f;
}

section {
  padding: 0 5rem;
}

  /* Utility Classes */
.green-text {
  color: #64ffda;
}

.white-text {
  color: #e6f1ff;
}

.grey-text {
  color: #8892b0;
}

.roboto {
  font-family: 'Roboto Mono', monospace;
}

.vietnam {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.btn {
  display: inline-block;
  padding: 10px;
  color: #64ffda;
  background: #0a192f;
  border: 1px solid #64ffda;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.green-border {
  border: 1px solid #64ffda;
  border-radius: 5px;
  padding: 20px;
}

.shadow {
  box-shadow: 10px 10px rgb(100, 255, 218, .2)
}

/* Figure this out later */
/* .btn:hover {
  background: #64ffda;
  opacity: .5;
}  */

  /* Navbar */
#navbar {
  padding: 30px 50px 0px 50px;
  /* Potentially delete */
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.3s;
  background-color: rgb(10, 25, 47, .9);
  z-index: 3;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto Mono', monospace;
}

#navbar .left-side-content {
  display: flex;
  align-items: center;
  font-size: 22px;
}

#navbar .left-side-content .border {
  border: 1px solid #64ffda;
  padding: 10px;
}

#navbar .right-side-content {
  display: flex;
  align-items: center;
}

#navbar .right-side-content ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    color: #e6f1ff;
}

#navbar .right-side-content ul li{
  margin-right: 30px;
}

#navbar .right-side-content ul li a {
  text-decoration: none;
  color: #e6f1ff;
  cursor: pointer;
}

#navbar .right-side-content ul li a:hover {
  color: #64ffda;
}

#navbar .right-side-content ul li a i {
  color:#8892b0;
}

#navbar .right-side-content ul li a i:hover {
  color:#64ffda;
}

.menu-btn {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  z-index: 1;
}

.menu-btn_lines, 
.menu-btn_lines::before,
.menu-btn_lines::after {
  width: 1.5rem;
  height: 0.1rem;
  background-color: #64ffda;
  transition: all 0.5s ease-in-out;
}

.menu-btn_lines::before,
.menu-btn_lines::after {
  content: '';
  position: absolute;
}

.menu-btn_lines::before {
  transform: translateY(-0.5rem);
}

.menu-btn_lines::after {
  transform: translateY(0.5rem);
}

.menu-btn.open .menu-btn_lines {
  transform: translateX(2rem);
  background-color: transparent;
}

.menu-btn.open .menu-btn_lines::before {
  transform: rotate(45deg) translate(-1.5rem,1.5rem);
}

.menu-btn.open .menu-btn_lines::after {
  transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
}

@media (max-width: 900px) {
  .menu-btn {
    display: flex;
  }

  .right-side-content ul {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 100vh;
    transform: translateX(100vw);
    background-color: rgb(10, 25, 47, .9);
    transition: transform 0.3s ease-in-out;
  }

  .right-side-content ul.open {
    transform: translateX(0);
  }
}



/* Intro Section */

#intro {
  /* background-image: linear-gradient(#0a192f, #64ffda); */
  margin-top: 250px;
  margin-bottom: 200px;
}

#intro .container h3 { 
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
}

#intro .container h2 { 
  font-size: 64px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

#intro .container .grey-text { 
  margin-bottom: 30px;
}

#intro .container p { 
  font-size: 18px;
  font-family: 'Roboto Mono', sans-serif;
  width: 600px;
}

/* About section */
#about {
  margin-bottom: 200px;
}
#about h2 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 25px;
  margin-bottom: 36px;
}

#about .container {
  display: flex;
}

#about .right-about {
  width: 50%;
  padding-left: 175px;
}
#about .left-about {
  width: 50%;
}

#about h2 .green-text {
  font-family: 'Roboto Mono', sans-serif;
}

#about p {
  font-family: 'Roboto Mono', sans-serif;
}

#about .tech-container {
  display: flex;
  margin-top: 24px;
}

#about .tech-container ul {
  list-style-type: none;
}

#about .tech-container .languages {
  padding-right: 100px;
}

#about .right-about div {
  padding: 0;
  width: 300px;
  height: auto;
}

#about .right-about .pat {
  max-width:100%;
  max-height:100%;
}

/* Work Experience Section */

#experience h2 {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
}



#experience .content.green-border {
  padding: 30px;
}



#experience .timeline-container .timeline .section ul {
  margin-top: 16px;
  font-family: 'Roboto Mono', monospace;
  color: #e6f1ff;
}

/* Timeline */
.timeline-container {
  padding: 2rem;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 800px;
}

.top-section {
  text-align: center;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  background-color: #64ffda;
  display: none;
}

.line::before,
.line::after {
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #64ffda;
  left: 50%;
  transform: translateX(-50%);
}

.line::after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: #64ffda;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  width: calc(50% - 2rem);
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

/* Work Section */
#work {
  margin-bottom: 200px;
}

#work img {
  width: 300px;
  height: auto;
}

#work .image {
  position: relative;
}

#work .image::after {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #64ffda;
  opacity: .3;
  top: 0;
  left: 0;
  display: block;
  content: '';
}

#work .image.green-border {
  padding: 0;
}

#work .right {
  text-align: end;
  margin-bottom: 50px;
}

#work h2 {
  margin-bottom: 25px;
}

#work .grid-container {
  display: grid;
  gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

#work .grid-container .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#work .grid-container p {
  margin-top: 25px;
}

/* Contact Section */
#contact {
  margin-bottom: 100px;
}

#contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact .contact-container h3 {
  margin-bottom: 30px;
}

#contact .contact-container h2 {
  margin-bottom: 30px;
}

#contact .contact-container p {
  text-align: center;
  margin-bottom: 50px;
}






